<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar Categoria</h2>
        </div>
        <div class="cardbody">
            <form method="POST" action="/categories/update">
                <input class="form-control" type="text" name="title1" 
                placeholder="Defina o titulo da categoria" value="<%= category.title%>">
                <input type="hidden" name="id1" value="<%= category.id %>">
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div> 


<%- include('../../partials/footer.ejs') %>
